:root {
    font-size: calc(7px + 3vmin);
    --header-height: 2.5rem;
};

.container {
    margin: 0px;
    padding: 0px;
    position: relative;
}

body {// {{{
    @extend .container;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
}// }}}

#header {// {{{
    @extend .container;
    display: flex;
    overflow: hidden;
    justify-content: flex-around;
    .spacer {
        flex-grow: 1;
    }
    &>* {
        min-width: var(--header-height);
    }
    user-select: none;


    background: #444444;
    color: white;

    h1, h2 {
        margin: 0px;
        padding: calc( var(--header-height) * 10 / 100);
        font-size: calc( var(--header-height) * 70 / 100);
        line-height: var(font-size);
        display: inline;
    }
    h2 {
        &::before {
            content: ' - ';
            display: inline;
        }
        font-size: 1rem
    }
    

    @media screen and (orientation:portrait) {
    }
    

}// }}}

#menu.disabled {// {{{
    display: none;
    // Lay it out as hidden placeholder.
    // Is its own module responsibility to remove "disabled" class after proper
    // internal layout and styling.
}// }}}

