
.main_primaryButtons {
    padding: 0px;

    .mainButton {
        margin: 0px;
        display: block;
        width: 100%;
        height: 100%;
        background: black;
        color: white;
        &:hover, &.set {
            background: white;
            color: black;
        }

    }

}

