
.main_primaryButtons {
    padding: 0px;

    .mainButton {
        display: block;
        text-align: center;
        margin: 0px;
        padding-top: 0px;
        font-variant-position: super;
        font-size: 2.8rem;
        display: block;
        width: 100%;
        height: 100%;
        background: black;
        color: white;
        line-heigth: var(font-size);
        &:link, &:visited, &:active, & * {
            outline: none !important;
            user-select: none;
        }
        &.set {
            background: white;
            color: black;
        }

    }

}

