extends layout

block content
  h1= title
  p Welcome to #{title}
  .main
    h2 Hello Wonderful Pug!!
    //- Local file (packed)
    //img(src=require("./foo.png"))
    //- Remote requested file
    //img(src="/bar.png")

//- vim: set ft=jade:
