ul.menuList
    li: a.menuOption.current(href="/") Home Page
    li: a.menuOption(href="/users") User list
    li: a.menuOption(href="/user/manolo") Manolo

    li: a.menuOption(href="/user/ferran") Ferràn
    li: a.menuOption(href="/user/andreu") Andreu
    li: a.menuOption(href="/user/antoni") Antoni
    li: a.menuOption(href="/user/mateu") Mateu
    li: a.menuOption(href="/user/antonia") Antònia
    li: a.menuOption(href="/user/pereantoni") Pere Antoni
    li: a.menuOption(href="/user/tofol") Tòfol
    li: a.menuOption(href="/user/margalida") Margalida
    li: a.menuOption(href="/user/sebastia") Sebastià
    li: a.menuOption(href="/user/maria") Maria
    li: a.menuOption(href="/user/olegari") Olegari
    li: a.menuOption(href="/user/marti") Martí
    li: a.menuOption(href="/user/bernat") Bernat
    li: a.menuOption(href="/user/gori") Gori
    li: a.menuOption(href="/user/angela") Àngela
    li: a.menuOption(href="/user/ramon") Ramón

    li: a.menuOption(href="http://bulma.eu") External link
