
.mainMenu {
    &:not(.visible) {
        display: none;
    }

    background: lightgrey;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 90%;
    min-width: 300px;
    max-width: 400px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &>ul.menuList {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
            line-height: 3rem;
            font-size: 1.5em;
            margin: .1em;
            &>a.menuOption {
                &, &:hover, &:visited {
                    outline: none;
                    text-decoration: none;
                    display: block;
                    background: grey;
                    color: black;
                    padding: .5rem;
                }
                &:hover, &:active {
                    background: lightgrey;
                }
                &.current {
                    &, &:hover, &:visited {
                        background: #cccccc; 
                    }
                }
            }
        }

    }

}
