ul
    li: a(href="/") Home Page
    li: a(href="/users") User list
    li: a(href="/user/manolo") Some user

    li: a(href="/") Home Page
    li: a(href="/users") User list
    li: a(href="/user/manolo") Some user
    li: a(href="/") Home Page
    li: a(href="/users") User list
    li: a(href="/user/manolo") Some user
    li: a(href="/") Home Page
    li: a(href="/users") User list
    li: a(href="/user/manolo") Some user
    li: a(href="/") Home Page
    li: a(href="/users") User list
    li: a(href="/user/manolo") Some user

    li: a(href="http://bulma.eu") External link
